<!-- Meta -->
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width-device-width, initial-scale=1.0">
<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico">
<!-- Local CSS -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
<script src="{{site.baseurl}}/assets/js/jquery-3.1.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/default.js"></script>