body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  font-size: 14px;
  margin: 0;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background: #fff;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 60px;
  min-height: 800px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}


@media (max-width: 767px) {
  .wrapper {
    padding: 30px;
  }
}