<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Local CSS -->
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
	</head>
	<body>
        <div class="header">
            <div class="nav">
                <a class="brand">HaoqingZhang</a>
                <small>Java Developer</small>
                <ul>
                    <li>
                        <a href="javascript:;">Home</a>
                    </li>
                    <li>
                        <a href="javascript:;">Categories</a>
                    </li>
                    <li>
                        <a href="javascript:;">Collections</a>
                    </li>
                    <li>
                        <a href="javascript:;">About</a>
                    </li>
                </ul>
            </div>
        </div>
		<div class="article-wrapper">
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div>
	</body>
</html>