<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.title }}</title>
        {% include head.html %}
    </head>
    <body>
        {% include navbar.html %}
		<div class="wrapper">
			<div class="main-wrapper">
				{{ content }}
			</div>
            <div class="right-wrapper">
                <div class="board">
                    <div class="board-title">
                        Recent Posts  
                    </div>
                </div>
                <div class="board">
                    <div class="board-title">
                        Categories 
                    </div>
                </div>
            </div>
		</div>
		<footer>Designed by Haoqing Zhang</footer>
    </body>
</html>